# Dependencies
node_modules/

# Build outputs
out/
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Env
.env
.env.*

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Coverage
coverage/

# Misc
*.local

# .NET build outputs
win-host/SmartTV.WebView2Host/bin/
win-host/SmartTV.WebView2Host/obj/

# Visual Studio
.vs/